@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap'); */

@viewport {
    width: device-width;
    zoom: 1.0;
}

@media only screen and (max-width: 900px) {
    img {
        width: 100%;
    }

    body {
        font-size: 14pt;
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👆🏾</text></svg>") 16 0, auto;
        /*!emojicursor.app*/
    }
}

.nofun html {

    /* max-width: 1050px; */

    /* margin-left: 30px;
    margin-right: auto;
    margin-top: 30px; */
    color: #333;
    padding-bottom: 200px;
    font-family: "monospace";
    /*  attribute: https://i.redd.it/je1hmocr0x161.jpg */
    background-image: url("imgs/bg.png");
}

.fun html {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👆🏾</text></svg>") 16 0, auto;
    /*!emojicursor.app*/

    /* max-width: 1050px; */

    /* margin-left: 30px;
    margin-right: auto;
    margin-top: 30px; */
    color: #333;
    padding-bottom: 200px;
    font-family: "monospace";
    /*  attribute: https://i.redd.it/je1hmocr0x161.jpg */
    background-image: url("imgs/bg.png");
}

a {
    color: #83A5F3;
    font-family: monospace;
    text-decoration: none;
    font-size: 14pt;
}

.fun a:hover {
    color: rgb(231, 231, 231);
    /*!emojicursor.app*/
}


.nofun a:hover {
    color: rgb(231, 231, 231);
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🤦🏾‍♂️</text></svg>") 16 0, auto;
    /*!emojicursor.app*/
}

body {
    max-width: 70%;
    margin: auto;
    margin-top: 25px;
    text-align: center;
    padding: 30px;
    background-color: black;
    color: gold;
    border-style: solid;
}

.entry {
    background: #222;
    border: 1px solid lime;
    border-radius: 20px;
    padding: 15px;
    margin: 30px;
}

.entry h2 {
    margin: 5px auto 2px auto;
}

pre {
    background: #222;
    border: 1px solid lime;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

h1 {
    color: goldenrod;
    font-size: 20pt;
    font-variant: monospace;
    font-family: 'Bebas Neue', cursive;
}

h1[id] {
    color: goldenrod;
    font-size: 20pt;
    font-variant: monospace;
    font-family: 'Bebas Neue', cursive;
    text-align: left;
}

p {
    color: rgb(255, 255, 255);
    padding: 15px;
    text-align: left;
    /* background: #222; */
    background: #0E6655;
    /* border: 1px dotted rgb(248, 248, 248); */
    -moz-box-shadow: inset 0 0 10px #1a1919;
    -webkit-box-shadow: inset 0 0 10px #0c0c0c;
    box-shadow: inset 0 0 10px #070707;
    font-size: 17pt;
    font-family: 'Fira Code', monospace;
}


br {
    color: rgb(255, 255, 255);
    padding: 15px;
    text-align: left;
    /* background: #222; */
    background: #0E6655;
    /* border: 1px dotted rgb(248, 248, 248); */
    -moz-box-shadow: inset 0 0 10px #1a1919;
    -webkit-box-shadow: inset 0 0 10px #0c0c0c;
    box-shadow: inset 0 0 10px #070707;
    font-size: 17pt;
    font-family: 'Fira Code', monospace;
}

.htext {
    background-color: yellow;
    color: black;
}

small {
    font-size: 16pt;
    font-family: 'Fira Code', monospace;
    color: white;
    padding: 5px;
    font-weight: bold;
    display: block;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: 'Fira Code', monospace;
    text-align: left;
    background-color: #354373;
}


/* .feedArticles {
    text-align: left;
}

.navbar {
    text-align: center;
} */

ul {
    text-align: left;
    color: white;
}

li {
    padding: 15px;
    list-style: none;
    color: white;
    text-align: left;
    font-size: 16pt;
    font-family: 'Fira Code', monospace;
}

li[id] {
    display: inline-block;
    padding: 10px;
    list-style: none;
    color: white;
    text-align: left;
    font-size: 14px;
}

h1#stitle {
    font-size: 30pt;
}

div#postlist {
    text-align: left;
    display: block;
    padding: 20px;
}

div#sweetnav {
    display: block;
    text-align: left;
}

footer#homefoot {
    background-color: #242424;
    position: fixed;
    font-size: 16pt;
    font-family: 'Fira Code', monospace;

}

::selection {
    color: #DE2514;
    background-color: #000000;
}


/* for firefox */

::moz-selection {
    color: #DE2514;
    background-color: #000000;
}

h2 {
    font-size: 16pt;
    font-family: 'Fira Code', monospace;
    /* font-size: 28px; */
    color: #F3BD6B;
    text-align: center;
}

h2[id] {
    font-family: 'Fira Code', cursive;
    font-size: 18px;
    color: goldenrod;
    text-align: left;
}

a#weblinks {
    color: black;
}

section {
    float: relative;
}

aside {
    float: right;
    margin: 0 0% 24px 1.5%;
}

div#DigitalCLOCK {
    color: rgb(194, 224, 24);
    /* font-family: 'Libre Barcode 39', cursive; */
    padding: 15px;
    text-align: left;
    /* background: #222; */
    /* font-family: 'Frijole', cursive; */
    /* font-family: 'Megrim', cursive; */
    font-family: 'Megrim', cursive;
    background: #0E6655;
    border: 1px solid rgb(212, 200, 30);
    font-size: 12pt;
}

a#booklist {
    color: white;
    background-color: black;
}

#goodlist {
    display: left;
    text-align: left;
}

a:hover#booklist {
    color: #E27429;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🤦🏾‍♂️</text></svg>") 16 0, auto;
    /*!emojicursor.app*/
}


/* .blob {
    background: black;
    border-radius: 10px;
    margin: 10px;
    height: 20px;
    width: 20px;
    box-shadow: 0 0 0 0 rgb(21, 67, 64);
    transform: scale(1);
    animation: pulse 2s infinite;
} 


/* @keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 2 2 0 0 rgb(17, 47, 65);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgb(8, 35, 53);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgb(15, 15, 38);
    }
} */

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #ff4747;
    font-size: 60px;
    font-family: 'Righteous', cursive;
    letter-spacing: 7px;
}

div#plist li,
a {
    font-style: none;
    display: relative;
    font-family: 'Bebas Neue';
    font-size: 40px;
}

dt[id] {
    color: white;
    text-align: left;
    font-style: normal;
    font-size: 14pt;
    font-family: 'Fira Code', monospace;
    padding: 15px;
    text-align: left;
    /* background: #222; */
    background: #0E6655;
    /* border: 1px solid white; */
    /* -moz-box-shadow: inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow: inset 0 0 5px #000000; */
}

dt[id]:hover {
    color: white;
    font-size: 14pt;
    font-family: 'Fira Code', monospace;
    text-align: left;
    font-style: normal;
    padding: 15px;
    text-align: left;
    /* background: #222; */
    background: #0E6655;
    /* border: 1px solid white; */
    -moz-box-shadow: inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow: inset 0 0 5px #000000;
}

dt {
    color: white;
    text-align: left;
    font-size: 14pt;
    font-family: 'Fira Code', monospace;
    padding: 15px;
    text-align: left;
    /* background: #222; */
    background: #0E6655;
    /* border: 1px solid white; */
    -moz-box-shadow: inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow: inset 0 0 5px #000000;
}

dd {
    display: block;
    color: #FAEFDE;
    font-size: 16pt;
    font-family: 'Fira Code', monospace;
    text-align: left;
    padding: 15px;
    text-align: left;
    /* background: #222; */
    background: #076F94;
    /* border: 1px solid white; */
    -moz-box-shadow: inset 0 0 20px black;
    -webkit-box-shadow: inset 0 0 20px black;
    box-shadow: inset 0 0 20px black;
}

dd[id] {
    color: whitesmoke;
    font-size: 16pt;
    font-family: 'Fira Code', monospace;
    padding: 15px;
    text-align: left;
    /* background: #222; */
    background: #0E6655;
    /* border: 1px solid white; */

    /* -moz-box-shadow: inset 0 0 20px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 20px #000000; */
}

dd[id]:hover {
    color: whitesmoke;
    font-style: normal;
    font-size: 18pt;
    font-family: 'Fira Code', monospace;
    padding: 15px;
    text-align: left;
    /* background: #222; */
    background: #0E6655;
    /* border: 1px solid white; */

    /* -moz-box-shadow: inset 0 0 20px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 20px #000000; */
}

b {
    text-align: left;
    font-size: 45px;
}

.hide {
    display: none;
}

.info:hover+.hide {
    display: block;
    color: #FAEFDE;
    font-size: 16pt;
    font-family: 'Fira Code', monospace;
    text-align: left;

    padding: 15px;
    text-align: left;
    /* background: #222; */
    background: #076F94;
    /* border: 1px solid white; */
    -moz-box-shadow: inset 0 0 20px black;
    -webkit-box-shadow: inset 0 0 20px black;
    box-shadow: inset 0 0 20px black;
}


/* meditation css  */

div#watts p {

    font-family: 'Fira Code', monospace;
    font-size: 18pt;
    box-shadow: 5px 5px 5px #777777;
    background-color: #7A6262;
}

img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

img[id] {
    width: 100%;
    margin-left: auto;
    margin-right: 50% auto;
    max-width: fit-content;
}

.linc-area {
    overflow: hidden;
    position: relative;
}

#linc {
    display: block;
    padding: 9px;
    line-break: loose;
    width: 75%;
    white-space: normal;
    overflow-wrap: break-word;
    text-align: justify;
    background: #000000;
    color: white;
    text-align: center;
    font-size: 14pt;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transform-style: preserve-3d;

    cursor: copy;
}

.linc-did-copy {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate3d(-50%, 0, 0);
    transform-style: preserve-3d;
    transition: top 0.2s, transform 0.2s;

    background: white;
    padding: 9px;
}

.linc-area.copied>.linc-did-copy {
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
}
