html {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    color: #333;
    padding-bottom: 200px;
    font-family: "monospace";
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🤔</text></svg>") 16 0, auto;
}

a {
    color: deepskyblue;
    font-family: monospace;
    text-decoration: none;
    font-size: 16px;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🔥</text></svg>") 16 0, auto;
    /*!emojicursor.app*/
}

a:hover {
    color: palevioletred;
}

body {
    max-width: 950px;
    text-align: center;
    padding: 30px;
    background-color: black;
    color: gold;
    border-style: solid;
}

.entry {
    background: #222;
    border: 1px solid lime;
    border-radius: 20px;
    padding: 20px;
    margin: 30px;
}

.entry h2 {
    margin: 5px auto 2px auto;
}

h1 {
    font-style: lighter;
}

pre {
    background: #222;
    border: 1px solid lime;
    border-radius: 20px;
    padding: 20px;
    margin: 30px;
}

p {
    color: lime;
    font-style: normal;
    font-family: monospace;
    padding: 20px;
    font-size: 16px;
}

.htext {
    background-color: yellow;
    color: black;
}

small {
    font-family: monospace;
    color: white;
    padding: 5px;
    font-weight: bold;
    display: block;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: yellow;
    color: black;
    font-family: monospace;
    text-align: center;
}

footer#bar_nav ul li a {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: yellow;
    color: black;
    font-family: monospace;
    text-align: center;
}

.feedArticles {
    text-align: left;
}

div#navbar_div ul li {
    text-align: left;
    display: block;
}

ul {
    text-align: left;
}

li {
    display: inline-block;
    list-style: none;
}

.lball {
    font-size: 500px;
    text-align: center;
}

mark {
    background-color: #9c6ec2;
}

code {
    background: #DAF7A6;
    border: 1px solid #FFC300;
    font-family: monospace;
    color: black;
}


/*!emojicursor.app*/