@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Libre+Barcode&family=Megrim+39&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap'); */

@viewport {
    width: device-width;
    zoom: 1.0;
}

@media only screen and (max-width: 900px) {
    img {
        width: 100%;
    }
    body {
        font-size: 19px;
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👆🏾</text></svg>") 16 0, auto;
        /*!emojicursor.app*/
    }
}

html {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👆🏾</text></svg>") 16 0, auto;
    /*!emojicursor.app*/
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    color: #333;
    padding-bottom: 200px;
    font-family: "monospace";
    /*  attribute: https://i.redd.it/je1hmocr0x161.jpg */
    background-image: url("imgs/bg.png");
}

a {
    color: #39CCCC;
    font-family: monospace;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    color: purple;
}

body {
    max-width: 950px;
    text-align: center;
    padding: 30px;
    background-color: black;
    color: gold;
    border-style: solid;
}

.entry {
    background: #222;
    border: 1px solid lime;
    border-radius: 20px;
    padding: 15px;
    margin: 30px;
}

.entry h2 {
    margin: 5px auto 2px auto;
}

pre {
    background: #222;
    border: 1px solid lime;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

h1 {
    color: goldenrod;
    font-size: 35px;
    font-variant: monospace;
    font-family: 'Bebas Neue', cursive;
}

p {
    color: whitesmoke;
    font-style: normal;
    font-family: monospace;
    padding: 15px;
    text-align: left;
    /* background: #222; */
    background: #0E6655;
    border: 1px solid white;
    font-size: 16px;
}

.htext {
    background-color: yellow;
    color: black;
}

small {
    font-family: monospace;
    color: white;
    padding: 5px;
    font-weight: bold;
    display: block;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: yellow;
    color: black;
    font-family: monospace;
    text-align: center;
}


/* .feedArticles {
    text-align: left;
}

.navbar {
    text-align: center;
} */

ul {
    text-align: left;
    color: white;
}

li {
    padding: 15px;
    list-style: none;
    color: white;
    text-align: left;
}

li[id] {
    display: inline-block;
    padding: 15px;
    list-style: none;
    color: white;
    text-align: left;
}

h1#stitle {
    font-size: 60px;
}

div#postlist {
    text-align: left;
    display: block;
    padding: 20px;
}

div#sweetnav {
    display: block;
    text-align: left;
}

footer#homefoot {
    background-color: #FAC000;
    position: fixed;
    font-family: monospace;
    font-size: 16px;
}

::selection {
    color: #DE2514;
    background-color: #000000;
}


/* for firefox */

::moz-selection {
    color: #DE2514;
    background-color: #000000;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 28px;
    color: #FF8200;
    text-align: center;
}

h2[id] {
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    color: #FFE9BA;
    text-align: left;
}

a#weblinks {
    color: black;
}

section {
    float: relative;
}

aside {
    float: right;
    margin: 0 0% 24px 1.5%;
}

div#DigitalCLOCK {
    color: rgb(194, 224, 24);
    /* font-family: 'Libre Barcode 39', cursive; */
    padding: 15px;
    text-align: left;
    /* background: #222; */
    /* font-family: 'Frijole', cursive; */
    /* font-family: 'Megrim', cursive; */
    font-family: 'Megrim', cursive;
    background: #0E6655;
    border: 1px solid rgb(212, 200, 30);
    font-size: 18px;
}

a#booklist {
    color: white;
    background-color: black;
}

#goodlist {
    display: left;
    text-align: left;
}

a:hover#booklist {
    color: #E27429;
}


/* .blob {
    background: black;
    border-radius: 10px;
    margin: 10px;
    height: 20px;
    width: 20px;
    box-shadow: 0 0 0 0 rgb(21, 67, 64);
    transform: scale(1);
    animation: pulse 2s infinite;
} 


/* @keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 2 2 0 0 rgb(17, 47, 65);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgb(8, 35, 53);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgb(15, 15, 38);
    }
} */

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #ff4747;
    font-size: 60px;
    font-family: 'Righteous', cursive;
    letter-spacing: 7px;
}

div#plist li,
a {
    display: relative;
    font-family: 'Bebas Neue';
    font-size: 40px;
}

dt[id] {
    color: white;
    font-size: 20px;
    text-align: left;
    font-style: normal;
    font-family: 'Righteous';
    padding: 15px;
    text-align: left;
    /* background: #222; */
    background: #0E6655;
    /* border: 1px solid white; */
    /* -moz-box-shadow: inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow: inset 0 0 5px #000000; */
}

dt[id]:hover {
    color: white;
    font-size: 30px;
    text-align: left;
    font-style: normal;
    font-family: 'Righteous';
    padding: 15px;
    text-align: left;
    /* background: #222; */
    background: #0E6655;
    /* border: 1px solid white; */
    -moz-box-shadow: inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow: inset 0 0 5px #000000;
}

dt {
    color: white;
    font-size: 20px;
    text-align: left;
    font-style: normal;
    font-family: monospace;
    padding: 15px;
    text-align: left;
    /* background: #222; */
    background: #0E6655;
    /* border: 1px solid white; */
    -moz-box-shadow: inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow: inset 0 0 5px #000000;
}

dd[id] {
    color: whitesmoke;
    font-style: normal;
    font-family: monospace;
    padding: 15px;
    text-align: left;
    /* background: #222; */
    background: #0E6655;
    /* border: 1px solid white; */
    font-size: 16px;
    /* -moz-box-shadow: inset 0 0 20px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 20px #000000; */
}

dd[id]:hover {
    color: whitesmoke;
    font-style: normal;
    font-family: monospace;
    padding: 15px;
    text-align: left;
    /* background: #222; */
    background: #0E6655;
    /* border: 1px solid white; */
    font-size: 30px;
    /* -moz-box-shadow: inset 0 0 20px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 20px #000000; */
}

b {
    text-align: left;
    font-size: 45px;
}

.hide {
    display: none;
}

.info:hover+.hide {
    display: block;
    color: #FAEFDE;
    font-size: 25px;
    text-align: left;
    font-style: normal;
    font-family: 'Righteous', cursive;
    padding: 15px;
    text-align: left;
    /* background: #222; */
    background: #076F94;
    /* border: 1px solid white; */
    -moz-box-shadow: inset 0 0 20px black;
    -webkit-box-shadow: inset 0 0 20px black;
    box-shadow: inset 0 0 20px black;
}