AddDescription "bandit mail" "bandit-mail.html" #Tue, 06 Apr 2021 09:03:39 -0400
AddDescription "zoomer" "zoomer.html"
AddDescription "zoomer dev mistakes" "zoomer-dev-mistakes.html"
AddDescription "Using ADB to automate dating app swipes 🏂" "using-adb-to-automate-dating-app-swipes.html" #Wed, 07 Apr 2021 01:34:50 -0400
AddDescription "ADB - L33T commands
